.countdown {
  text-align: center;

  .countdown-column {
    display: inline-block;
  }

  .countdown-element {
    margin: 0 20px;
    display: flex;
    flex-direction: column;
  }

  strong {
    font-size: 48px;
  }
}
