img.background {
  min-height: 100%;
  min-width: 1024px;
  width: 100%;
  height: auto;
  position: fixed;
  top: 0;
  left: 0;
}

.splash-screen {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: fixed;
  width: 100%;
  height: 100%;

  .loading-dot {
    font-size: 100px;
    position: relative;
    animation: ease-in-out infinite alternate;
    animation-name: run;
    animation-duration: 1s;
  }
}

@keyframes run {
  0% {
    left: -70px;
    color: #ffffff;
  }

  50% {
    color: #366da9;
  }

  100% {
    left: 70px;
    color: #ffffff;
  }
}

@media screen and (max-width: 1024px) {
  img.bg {
    left: 50%;
    margin-left: -512px;
  }
}

.text-primary {
  color: #366da9 !important;
}

.hero-wrap {
  width: 100%;
  position: inherit;
}

.hero-wrap.hero-wrap-2 {
  height: 600px !important;
  position: relative;
}

.hero-wrap.hero-wrap-2 .overlay {
  width: 100%;
  opacity: 0.05;
}

.hero-wrap.hero-wrap-2 .slider-text {
  height: 600px !important;
}

.slider-text {
  height: 100vh;
}

.slider-text h1 {
  font-size: 36px;
  color: #000000;
  line-height: 1.2;
  font-weight: 200;
}

.slider-text h1 span {
  font-size: 48px;
  font-weight: 800;
  color: #366da9;
  text-transform: uppercase;
}

.chrismast-form {
  h1 span {
    font-size: 48px;
    font-weight: 800;
    color: #dc3545 !important;
    text-transform: uppercase;
  }

  #timer .time {
    color: #dc3545 !important;
  }
}

.christmas-timer {
  #timer .time {
    color: #dc3545 !important;
  }
}

@media (max-width: 767.98px) {
  .slider-text h1 {
    font-size: 24px;
  }

  .slider-text h1 span {
    font-size: 28px;
  }
}

@media (max-width: 991.98px) {
  .slider-text h1 span {
    font-size: 40px;
  }
}

.slider-text p {
  font-size: 20px;
  line-height: 1.5;
  font-weight: 300;
  color: rgba(0, 0, 0, 0.8);
}

.slider-text p strong {
  font-weight: 700;
}

.slider-text p strong a {
  color: #000000;
}

@media (max-width: 767.98px) {
  .slider-text p {
    font-size: 16px;
  }
}

.slider-text .breadcrumbs {
  font-size: 14px;
  margin-bottom: 20px;
  z-index: 99;
  text-transform: uppercase;
  font-weight: 500;
}

.slider-text .breadcrumbs span {
  color: rgba(0, 0, 0, 0.7);
}

.slider-text .breadcrumbs span i {
  color: rgba(0, 0, 0, 0.5);
  font-size: 13px;
}

.slider-text .breadcrumbs span a {
  color: rgba(0, 0, 0, 0.7);
}

.slider-text .breadcrumbs span a:hover,
.slider-text .breadcrumbs span a:focus {
  color: #366da9;
}

.slider-text .breadcrumbs span a:hover i,
.slider-text .breadcrumbs span a:focus i {
  color: #366da9;
}

.slider-text .bread {
  font-weight: 400 !important;
}

#timer {
  width: 80%;
}

@media (max-width: 991.98px) {
  #timer {
    width: 90%;
  }
}

#timer .time {
  width: 25%;
  font-size: 40px;
  font-weight: 500;
  border-left: 1px solid rgba(0, 0, 0, 0.05);
  color: #366da9;
}

@media (max-width: 991.98px) {
  #timer .time {
    font-size: 40px;
  }
}

#timer .time:first-child {
  border-left: transparent;
}

#timer .time span {
  font-size: 12px;
  display: block;
  color: #000000;
  text-transform: uppercase;
}

.event-form {
  background: #fff;
  padding: 30px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: 0px 10px 31px -21px rgba(0, 0, 0, 0.33);
  -moz-box-shadow: 0px 10px 31px -21px rgba(0, 0, 0, 0.33);
  box-shadow: 0px 10px 31px -21px rgba(0, 0, 0, 0.33);

  .form-group .btn-primary {
    width: 100%;
    display: block !important;
    background-color: #366da9;
    border-color: #366da9;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    border-radius: 5px;
  }

  .btn-danger {
    width: 100%;
    display: block !important;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    border-radius: 5px;
  }
}

@media (max-width: 767.98px) {
  .first-form {
    margin-top: 50px;
  }
}

.request-form {
  background: #fff;
  padding: 30px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: 0px 10px 31px -21px rgba(0, 0, 0, 0.33);
  -moz-box-shadow: 0px 10px 31px -21px rgba(0, 0, 0, 0.33);
  box-shadow: 0px 10px 31px -21px rgba(0, 0, 0, 0.33);

  .lucky-number strong {
    font-size: 36px;
    margin-left: 26px;
  }

  .lucky-spinner strong {
    font-size: 12vw;
    letter-spacing: 4vw;
    padding-left: 4vw;
  }

  .text-input {
    h2 {
      font-size: 32px;
    }

    @media (max-width: 767.98px) {
      h2 {
        font-size: 18px;
      }
    }

    @media (max-width: 991.98px) {
      h2 {
        font-size: 24px;
      }
    }
  }
}

.request-form h2 {
  color: #000000;
}

.request-form .form-group {
  position: relative;
  width: 100%;
  display: block;
}

.request-form .form-group .icon {
  position: absolute;
  top: 50% !important;
  right: 0;
  font-size: 16px;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.request-form .form-group .icon span {
  color: rgba(0, 0, 0, 0.3) !important;
}

.request-form .form-group .select-wrap,
.request-form .form-group .input-wrap {
  position: relative;
}

.request-form .form-group .select-wrap select,
.request-form .form-group .input-wrap select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.request-form .form-group .btn-primary {
  width: 100%;
  display: block !important;
  background-color: #366da9;
  border-color: #366da9;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  border-radius: 5px;
}

.request-form .form-group .btn {
  width: 100%;
  display: block !important;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  border-radius: 5px;
}

.christmas-card {
  span {
    color: #dc3545 !important;
    -moz-text-align-last: center !important;
    text-align-last: center !important;
    text-shadow: 3px 3px 3px #e7a1a8;
    line-height: 1.5;
    letter-spacing: 5px;
    background-color: rgba(255, 255, 255, 0.7);
    font-weight: bold;
    border-top: 2px solid #dc3545;
    border-left: 2px solid #dc3545;
    position: absolute;
    border-radius: 5px;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 100%;
    padding: 30px;
    text-transform: none !important;
    font-family: "Sriracha", cursive !important;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: 0px 10px 31px -21px rgba(0, 0, 0, 0.33);
    -moz-box-shadow: 0px 10px 31px -21px rgba(0, 0, 0, 0.33);
    box-shadow: 0px 10px 31px -21px rgba(0, 0, 0, 0.33);
  }

  h1 span {
    font-size: 46px !important;
  }

  @media (max-width: 767.98px) {
    h1 span {
      font-size: 18px !important;
    }
  }

  @media (max-width: 991.98px) {
    h1 span {
      font-size: 24px !important;
    }
  }
}

.christmas-navbar {
  span {
    color: #dc3545 !important;
    -moz-text-align-last: center !important;
    text-align-last: center !important;
    text-shadow: 1px 1px 1px #e7a1a8;
    letter-spacing: 5px;
    background-color: rgba(255, 255, 255, 1);
    font-weight: bold;
    border-bottom: 1.5px solid #dc3545;
    border-right: 1px solid #dc3545;
    position: absolute;
    border-radius: 5px;
    transform: translate(-50%, -50%);
    width: 98%;
    padding: 15px;
    text-transform: none !important;
    font-family: "Sriracha", cursive !important;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: 0px 10px 31px -21px rgba(0, 0, 0, 0.33);
    -moz-box-shadow: 0px 10px 31px -21px rgba(0, 0, 0, 0.33);
    box-shadow: 0px 10px 31px -21px rgba(0, 0, 0, 0.33);
    box-sizing: border-box;
  }

  h1 span {
    font-size: 24px !important;
  }

  @media (max-width: 767.98px) {
    display: none;
    h1 span {
      font-size: 12px !important;
    }
  }

  @media (max-width: 991.98px) {
    h1 span {
      font-size: 18px !important;
      width: 96%;
    }
  }
}

.request-form .back-button .btn {
  width: 40px;
  height: 40px;
  display: block;
  border-radius: 50%;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.request-form {
  .form-control,
  span {
    border: transparent !important;
    border-bottom: 1px solid rgba(0, 0, 0, 0.05) !important;
    height: 52px !important;
    padding-left: 0;
    padding-right: 0;
    background: transparent !important;
    color: rgba(0, 0, 0, 0.9) !important;
    font-size: 16px;
    border-radius: 0px;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
  }
  a {
    color: #366da9 !important;
  }
  .spinner .btn.disabled,
  .btn:disabled {
    opacity: 0.1;
  }
}
